.home-container{
    width: 100%;
    height: 100vh;
    background-color: brown;
    margin-top: 80px;
}

.gryffindor{
    width: 50%;
    height: 50%;
    background-image: url('../images/picture/Gryffindor.jpg');
    object-fit: cover;
    background-position: bottom right;
}

.gryffindor:hover{
    background-image: url('../images/picture/gryffindor_hover.jpg');
    background-size: 100%;
    background-position: center;
    transition: 1.5s;
}

.hufflepuff{
    width: 50%;
    height: 50%;
    background-image: url('../images/picture/Hufflepuff.jpg');
    object-fit: cover;
    background-position: top right;
}

.hufflepuff:hover{
    background-image: url('../images/picture/hufflepuff_hover.jpg');
    background-size: 100%;
    background-position: center;
    transition: 1.5s;
}

.revenclaw{
    width: 50%;
    height: 50%;
    background-image: url('../images/picture/Ravenclaw.jpg');
}

.revenclaw:hover{
    background-image: url('../images/picture/ravenclaw_hover.jpg');
    background-size: 100%;
    background-position: center;
    transition: 1.5s;
}

.slytherin{
    width: 50%;
    height: 50%;
    background-image: url('../images/picture/Slytherin.jpg');
    object-fit: cover;
    background-position: bottom left;
}

.slytherin:hover{
    background-image: url('../images/picture/3a22f1986719a0c5fcbd1acab5673bd7.jpg');
    background-position: center;
    background-size: 100%;
    transition: 1.5s;
}

